.header
{
    width: 90%;
    margin:auto;
    height: 160px;
    border-bottom: 3px solid #2d832c;
}

.header p
{
    width: 240px;
    float: left;
}

.version
{
    float : right;
    font-size:1.2em;
    font-family: Arial;
    padding-right :20px;
    text-align: right;
    padding-top : 50px;
}

.header h1
{
    float : left;
    font-size:3em;
    font-family: Arial;
    padding-top : 50px;
}

.footer
{
    width: 90%;
    margin: auto;
    border-top: 3px solid #2d832c;
    text-align : center;
    font-size: 1.5em;
    font-family: Arial;

}

.body
{
    width: 90%;
    margin: auto;
    /*height: 1350px;*/
    font-family: Arial;
    font-size: 22px;
}

.body img
{
 
}

 /* Customize the label (the container) */
.container {
  display: inline;
  position: relative;
  top: 10px;
  padding-left: 30px;
  margin-left : 10px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2d832c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
} 

.text_field
{
	position: relative;
	top: 10px;
}

input[type=submit]
{
	color: white;
	font-size : 1.2em;
	margin-top : 30px;
	margin-left: 0px;
	background: #2d832c;
	width: 200px;
	height : 50px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}

/*Menu management*/
div.body div:not(:target) 
{
	display: none
}
div.body div:target 
{
	display: block
}

/*Menu style*/

ul.menu 
{
	list-style-type: none;
	position: absolute;
	left:40%;
	margin : auto;
	display: block;
}
ul.menu li 
{
	float: left;
	width: 140px;
	height : 30px;
}

ul.menu li.separator
{
	width: 2px;
	height : 30px;
	background-color: silver;
	margin-top : 10px;
}

ul.menu li a 
{
	display: block;
	color: black;
	font-size : 1.5em;
	font-family: Arial;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.menu li a:hover
{
	font-weight: bold;
	color : white;
	background-color: #2d832c;	
}

.active
{
	background-color: #2d832c;

}

.ONstate
{
	color : #2d832c;
	font-weight: bold;
}

.OFFstate
{
	color : black;
	font-weight : bold;
}

#menu0
{
	height : 37px;
}


#menu1
{
	margin-top : 30px;
}

#menu2              
{
        margin-top : 30px;
}

#menu4
{
	margin-top : 30px;
}

table
{
    border-collapse: collapse;
    /*margin-left: auto;
    margin-right: auto;*/
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 2px solid black;
    width: 50px;
    height: 30px;
    padding: 5px;
    text-align: center;
}


h2
{
    text-decoration: underline;
    font-size: 1.4em;
}

.indication
{
    font-size: 0.8em;
    display: inline-block;
    width: 90px;
    position: relative;
    top: 10px;
    
}

.toggleLabel
{
    position: relative;
    top: 10px;

}
